<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">¿Quiénes somos?</h4>
          <p>En Florería MYD nos apasiona hacer grandes los momentos que pasas con tus amigos y familiares, por ello junto con nuestra red de florerías distribuidas en todo el país y el extranjero, nos encargamos de ofrecerte la mejor calidad en todo nuestro abanico de flores, nos respalda mas de 9 años de experiencia durante la cual hemos estado presentes en los mejores momento de nuestros clientes con un arreglo floral acorde al momento, siempre distinguidos por el servicio al cliente, la transparencia y cumpliendo las necesidades de nuestros clientes. </p>
        </div>
      </div>

    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/avatar2.png" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Mariela Barcenas Castillo</h5>
        <p class="ae-u-bolder au-mb-3">Graphic Designer</p>
        <a href="#0" class="ae-u-bolder au-underline">@mbarcenas</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/avatar1.png" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">David Castro Trujillo</h5>
        <p class="ae-u-bolder au-mb-3">Founder / CEO</p>
        <a href="#0" class="ae-u-bolder au-underline">@dcastro</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/avatar2.png" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Yadira Jazmín Pereda Valerdi</h5>
        <p class="ae-u-bolder au-mb-3">Art Director</p>
        <a href="#0" class="ae-u-bolder au-underline">@yvalerdi</a>
      </div>
    </div>
    
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Misión</h6>
        <p class="au-lh-3">Ofrecer flores de buena calidad para realizar arreglos florales para toda ocasión, entregando a tiempo los pedidos de cada uno de nuestros clientes y trabajando con responsabilidad para así mejorar  continuamente. </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Visión</h6>
        <p class="au-lh-3">Seremos líderes en el mercado de las floristerías por la buena calidad de nuestros arreglos florales y por nuestra excelente atención a los clientes así complaciendo sus necesidades y teniéndolo en el puesto mas importante de nuestra empresa. </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Valores</h6>
        <p class="au-lh-3">En Florería DYM debemos cumplir con unos principios o valores que son: </p>
        <p class="au-lh-3">Profesión: somos preparados y expertos en arreglos florales para que nuestros clientes queden satisfechos.</p>
        <p class="au-lh-3">Servicio: prestamos un buen servicio a nuestros clientes entregándoles lo que ellos deseen y necesiten.</p>
        <p class="au-lh-3">Trabajo en equipo: cada uno debe aportar su experiencia y conocimiento para dar al cliente un producto de mejor calidad.</p>
        <p class="au-lh-3">Calidad: nos esforzamos en ofrecer las mejores flores y diseños florales de la mejor calidad a todos nuestros clientes.</p>
      </div>
    </div>
   
  </div>
